<!DOCTYPE html>
<html>
  <head>
    <title>Form </title>
  <link rel="stylesheet" href="/public/styles/base.css"> 
 </head>
  <body>
    <header><h1>test</h1></header>
    <main>
           
    </main>
    <footer>
      This brought to you
    </footer>
  </body>
</html